<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="static/global.css" />
    <link rel="stylesheet" href="static/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lozdolls FontDEMO:wght@400&display=swap"
    />
  </head>
  <script>
    // Function to get today's date
    function getTodayDate() {
        var today = new Date();
        var day = String(today.getDate()).padStart(2, '0');
        var month = String(today.getMonth() + 1).padStart(2, '0');
        var year = today.getFullYear();
        var formattedDate = day + '-' + month + '-' + year;
        return formattedDate;
    }

    // Update the HTML element with today's date
    function updateDate() {
        var dateElement = document.getElementById('today-date');
        dateElement.innerHTML = getTodayDate();
    }
</script>
  <body>
    <div class="landing-page">
      <div class="inforamation">
        <form action="/upload_video" method="post" enctype="multipart/form-data">
          <input type="file" name="video_file"><br><br>
          <input type="submit" value="Upload">
       </form>
       <div>{{b}}</div>
        
       <div class="photos-of-attendees" style = "overflow: auto;">

        {% for i in images%}
        <img id = "id" name = "image" src="https://storage.googleapis.com/emp_png/{{i}}" alt="Image" style="width: 230px; height: auto; margin: 10px;">
        {% endfor %}
          </div>
          <div class="photos-of-attendees-inner">
            <div class="line-parent">
              <div class="frame-child"></div>
              <div class="frame-child"></div>
              <div class="frame-child"></div>
            </div>
          </div>
        </div>
        <div class="datepicker">
          
          <div id="today-date"></div>
          <script>
              updateDate();
          </script>
        </div>
        <div class="attendance-of">Attendance of</div>
      </div>
      <div class="footer">
        <div class="frame-parent">
          <div class="flat-no-402-vinayagar-heigh-parent">
            <div class="flat-no-container">
              <span class="flat-no-container1">
                <p class="flat-no">
                  Flat no : 402, vinayagar heights, Waltair Uplands,
                </p>
                <p class="flat-no">&nbsp;</p>
                <p class="flat-no">Visakhapatnam, Andhra Pradesh</p>
                <p class="flat-no">&nbsp;</p>
                <p class="flat-no">
                  <b class="pin">Pin:</b>
                  <span> 530003</span>
                </p>
                <p class="flat-no">&nbsp;</p>
                <p class="flat-no">India</p>
              </span>
            </div>
            <img class="icon" alt="" src="static/public/icon.svg" />
          </div>
          <div class="frame-group">
            <div class="email-parent">
              <div class="email">
                <a
                  class="email1"
                  href="mailto:info@cloudkarya.com"
                  target="_blank"
                  >info@cloudkarya.com</a
                >
              </div>
              <img class="icon" alt="" src="static/public/icon1.svg" />
            </div>
            <div class="icon-parent">
              <img class="icon" alt="" src="static/public/icon2.svg" />

              <div class="phone-number">
                <div class="div1">
                  <a class="a" href="tel:+14084217409" target="_blank">
                    <span class="span">+1.408.421.7409</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="social-icons">
              <img class="icon3" alt="" src="static/public/icon3.svg" />

              <img class="icon3" alt="" src="static/public/icon4.svg" />

              <img class="icon3" alt="" src="static/public/icon5.svg" />
            </div>
          </div>
          <div class="frame-wrapper">
            <div class="powered-by-parent">
              <div class="powered-by">Powered by</div>
              <b class="empatt">Empatt</b>
            </div>
          </div>
        </div>
        <b class="cloudkarya">CloudKarya</b>
      </div>
      <div class="hero-section">
        <div class="navbar">
          <div class="cloudkarya1">
            <span>Cloud</span>
            <span class="karya">Karya</span>
          </div>
          <img
            class="account-circle-icon"
            alt=""
            src="static/public/account-circle.svg"
          />
        </div>
        <div class="curosel-here-wrapper">
          <img src="https://cdn.sanity.io/images/4y5gb0f2/production/99ce546807fcf13b7a8dca6621510b136e41c79c-600x338.gif" alt="Image Description" style = "height: 400px; width: 1196px; object-fit: cover; position: absolute;">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
